.DS_Store
*.dSYM
/.vs/
/packages/
/saves/
*.o
/smw
/build/
/smw.sfc
SDL2.dll
/smw.exe
/glsl-shaders/
/dis/
/work
smw_assets.dat
__pycache__
/enhanced/
*.sfc
/third_party/SDL2_mixer-2.6.3/
/assets/custom/
assets/Music.txt
assets/Maps.txt
